<div class="container">
  <div class="py-3 text-center">
    <img class="d-block mx-auto mb-2" src="https://raw.githubusercontent.com/ngx-formly/ngx-formly/v5/logo.svg?sanitize=true" alt="" width="72" height="72">
    <h5>Angular Formly Bootstrap</h5>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <formly-form
          [form]="form"
          [model]="model"
          [fields]="fields">
        </formly-form>
        
        <button class="btn btn-primary" type="submit">
          Submit
        </button>

        <button class="btn btn-danger" type="reset">
          Reset
        </button>
      </form>
    </div>
  </div>
</div>